:root {
  --font-days-one: "Days One", sans-serif;
  --font-geologica: "Geologica", sans-serif;
}

.days-one {
  font-family: var(--font-days-one);
}

.geologica {
  font-family: var(--font-geologica);
}

.prewrap,
.pre-wrap {
  white-space: pre-wrap;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/* colors */
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.violet {
  color: var(--violet-text);
}

.violet-main {
  color: var(--violet-main);
}

.lily {
  color: #a5a2e5;
}

/* lh */
.lh-80 {
  line-height: 80%;
}

.lh-120 {
  line-height: 120%;
}

.lh-143 {
  line-height: 143%;
}

.lh-150 {
  line-height: 150%;
}

.lh-170 {
  line-height: 170%;
}

/* sizes */
.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-14-10 {
  font-size: clamp(0.625rem, 0.511rem + 0.45vw, 0.875rem);
}

.text-16-12 {
  font-size: clamp(0.75rem, 0.636rem + 0.45vw, 1rem);
}

.text-20-16 {
  font-size: clamp(1rem, 0.886rem + 0.45vw, 1.25rem);
}

.text-48-32 {
  font-size: clamp(2rem, 1.545rem + 1.82vw, 3rem);
}

.text-64-48 {
  font-size: clamp(3rem, 2.545rem + 1.82vw, 4rem);
}

.text-96-48 {
  font-size: clamp(3rem, 1.636rem + 5.45vw, 6rem);
}
